<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<table style="width:100%">
  <tr>
    <th>Product name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Summa</th>
  </tr>
  {% for line in purchases_table %}
  <tr>
    <td>{{ line.0 }}</td>
    <td>{{ line.1 }} руб.</td>
    <td>{{ line.2 }}</td>
    <td>{{ line.3 }} руб.</td>
  </tr>
  {% endfor %}
</table>
<h2>Total cost: {{ total_cost }} руб.</h2>
</body>
</html>