<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<table style="width:100%">
  <tr>
    <th>Category</th>
    <th>Cost</th>
    <th>Sare in total cost</th>
  </tr>
  {% for line in statistics_table %}
  <tr>
    <td><a href="/{{ line.0 }}{{ date_url }}">{{ line.0 }}</a></td>
    <td>{{ line.1 }} руб.</td>
    <td>{{ line.2 }}%</td>
  </tr>
  {% endfor %}
</table>
<h2>Total cost: {{ total_cost }} руб.</h2>
</body>
</html>