<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<table style="width:100%">
  <tr>
  {% for month in months %}
      <td><a href="{{ request.path }}/{{ month }}">{{month}}</a> </td>
  {% endfor %}
  </tr>
  <tr>
  {% for month_cost in statistics_table %}
    <td>{{ month_cost }} руб.</td>
  {% endfor %}
  </tr>
</table>
<h2>Total cost: {{ total_cost }} руб.</h2>
</body>
</html>